{{ define "css" }}
    {{ $style := resources.Get "sass/pages/index.scss" | css.Sass | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}" /> 
{{ end }}

{{ define "main" }}

    <script type="module">
        let animated = document.getElementById('animatedTitle');
        let words = ['a Builder', 'a Developer', 'a Learner', 'a NEU Student', 'Yuxuan Han'];
        let i = 0;
        let j = 1;
        animated.innerHTML = words[i];
        animated.dataset.hover = words[j];

        setInterval(() => {
            if (i < words.length - 1) i++;
            else i = 0;

            if (i + 1 < words.length) j = i + 1;
            else j = 0;

            animated.classList.add('animated')
            setTimeout(function() {
                animated.innerHTML = words[i];
                animated.dataset.hover = words[j];
                animated.classList.remove('animated');
            }, 540);
        }, 2700);
    </script>

    <div class="container">
        <h1>
            <span class="title color">Hi! I'm 
                <span data-hover="nextWord" id="animatedTitle">a Builder</span>
            </span>
        </h1>
        <h6 class="subtitle">{{ .Params.subtitle }}</h6>
        <br />
        <div class="text" id="discord">
            {{ .Content }}
        </div>
    </div>

{{ end }}