<div class="container mb-5">
    <div class="project-list">
        {{ range first 3 ( shuffle (where .Site.RegularPages "Type" "portfolio" ) ) }}
            <a href="{{ .RelPermalink }}" class="project-item">
                <img src="{{ .Params.picture }}" alt="{{ .Title }}" />
                <h5 class="mx-4">{{ .Title }}</h5>
                <div class="summary">
                    {{ .Params.description }}
                </div>
                {{ if .Params.award }}
                    <i class="bi bi-award"></i>
                {{ end }}
                {{ if .Params.internship }}
                    <i class="bi bi-briefcase"></i>
                {{ end }}
            </a>
        {{ end }}
    </div>
    <a href="/portfolio" class="see-more-link">Get the whole list ►</a>
</div>
